<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CiSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B03102681D7EA891006CCA5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0FDE8CD1D7D760A001DD43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0FDE8E11D7D760A001DD43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0FDE8EC1D7D760A001DD43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0FDE9021D7D77D4001DD43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
